<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<%= link_to "<button class='social_btn' type='button'>Find me on LinkedIn</button>".html_safe, "https://www.linkedin.com/in/natalie-cook-8a539335/" %>